body {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  #formulario {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #1E3A8A;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #1D4ED8;
  }